.product-gallery {
  padding: 0 16px;
  border-right: 1px solid #646cff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 16px;

  .product-card {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 2px lightslategray;
    border-radius: 8px;
    button {
      background-color: black;
    }
    .product-title {
      font-size: 1rem;
      font-weight: 500;
      color: #646cff;
    }

    .product-description {
      font-size: 0.75rem;
      color: slategrey;
    }
    header {
      max-height: 180px;
      .product-image {
        aspect-ratio: 1 / 1;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .product-colors {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      button {
        font-size: 0.5rem;
        height: 24px;
        width: 24px;
      }
    }
    .product-sizes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      button {
        min-width: 24px;
        padding: 8px;
        font-size: 0.75rem;
      }
    }
    .product-quantity {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      button {
        padding: 0;
        height: 32px;
        width: 32px;
        font-size: 0.6rem;
      }
    }
  }
}
