.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;
  height: 100vh;
  .main-header {
    border-bottom: 1px solid #646cff;
    padding: 8px 16px;
  }
  .main-footer {
    border-top: 1px solid #646cff;
    padding: 8px 16px;
  }
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }
}
